
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #505050;
    cursor: pointer;

}


#nav {
    line-height: 37px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

#nav a {
    display: block;
    width: 180px;
    line-height: 37px;
    text-align: center;
}

#nav a:link {
    color: #fff;
    text-decoration: none;
}

#nav a:visited {
    color: #fff;
    text-decoration: none;
}

#nav a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#nav li {
    float: left;
    width: 180px;
    position:relative;
}

#nav li a:hover {
    background: #2aabd2;
}

#nav li ul {
    line-height: 30px;
    list-style-type: none;
    text-align: center;
    /*left: -999em;*/
    left:0;
    top:37px;
    width: 180px;
    position: absolute;
    display:none;
}

#nav li ul li {
    float: left;
    width: 180px;
    background: #FFF;
    font-size: 14px;
}

#nav li ul a {
    display: block;
    width: 180px;
    text-align: center;
    padding-left: 0px;
}

#nav li ul a:link {
    color: #666;
    text-decoration: none;
}

#nav li ul a:visited {
    color: #666;
    text-decoration: none;
}

#nav li ul a:hover {
    color: #F3F3F3;
    text-decoration: none;
    font-weight: normal;
    background: #2e6da4;
}

#nav li:hover ul {
    display:block;
}


    